In [1]:
#import the library used to query a website
import requests
from collections import Counter
#specify the url for 2019
lottery = "https://www.irishlottery.com/archive-2019"
#Query the website and return the html to the variable 'page'
page = requests.get(lottery)
page

In [2]:
page.status_code

200

In [3]:
#import the Beautiful soup functions to parse the data returned from the website
from bs4 import BeautifulSoup
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page.content, 'lxml')

In [4]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_19 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_19 = [pt.get_text() for pt in ball_class_19]
type(ball_19)

list

In [5]:
#convert into a dataframe in acsending order
import numpy as np
import pandas as pd
df_ball_19 = pd.DataFrame(np.array(ball_19).reshape(-1,6),columns = list("ABCDEF"))
df_ball_19

      A   B   C   D   E   F
0     2  14  18  23  34  39
1    12  23  30  36  37  38
2     6  19  22  28  35  40
3     8   9  14  18  23  38
4    11  17  24  29  30  47
..   ..  ..  ..  ..  ..  ..
99    6   9  11  27  34  42
100  19  30  32  33  35  46
101  15  16  18  23  39  45
102   7  10  18  26  37  40
103   2  14  26  33  37  47

[104 rows x 6 columns]

In [6]:
# Find the bonus number available at the class = "bonus-ball"
ball_bonus_class_19 = soup.find_all("li", class_="bonus-ball")
ball_bonus_19 = [pt.get_text() for pt in ball_bonus_class_19]
type(ball_bonus_19)

list

In [7]:
df_ball_bonus_19 = pd.DataFrame(ball_bonus_19,columns = ['Bonus'])

In [8]:
#join the two dataframes
df_2019 = pd.concat([df_ball_19, df_ball_bonus_19], axis=1)
df_2019

      A   B   C   D   E   F Bonus
0     2  14  18  23  34  39    25
1    12  23  30  36  37  38     3
2     6  19  22  28  35  40    32
3     8   9  14  18  23  38    16
4    11  17  24  29  30  47    38
..   ..  ..  ..  ..  ..  ..   ...
99    6   9  11  27  34  42    14
100  19  30  32  33  35  46     3
101  15  16  18  23  39  45    22
102   7  10  18  26  37  40     4
103   2  14  26  33  37  47    38

[104 rows x 7 columns]

In [9]:
#find all the dates available in th
#date = soup.find_all("th")
#date1 = [pt.get_text() for pt in date]

In [10]:
#convert to the dtaframe
#df_date = pd.DataFrame(date1,columns =['Date'])
#select the datframe after first two rows as they show result date and draw result
#df_date = df_date[2:]

In [11]:
#reset the index from 0
#df_date = df_date.reset_index()
#del df_date['index']

In [12]:
#df_date.dtypes

In [13]:
#convert the date into date time
#df_date = df_date.apply(pd.to_datetime)

In [14]:
#https://stackoverflow.com/questions/42693410/how-to-convert-object-to-date-in-pandas
#df_date.dtypes

In [15]:
#df1 = pd.concat([df_date, df_2019], axis=1)
#df1.describe()

In [16]:
# df_2019.to_csv('Lotto.csv'index=False)

In [17]:
lottery = "https://www.irishlottery.com/archive-2020"
#Query the website and return the html to the variable 'page'
page = requests.get(lottery)
page

In [18]:
page.status_code

200

In [19]:
soup = BeautifulSoup(page.content, 'lxml')

In [20]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_20 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_20 = [pt.get_text() for pt in ball_class_20]
type(ball_20)

list

In [21]:
df_ball_20 = pd.DataFrame(np.array(ball_20).reshape(-1,6),columns = list("ABCDEF"))
df_ball_20

      A   B   C   D   E   F
0     8  13  21  23  40  44
1    22  23  24  28  32  41
2    22  30  33  39  40  45
3     9  14  16  28  33  38
4    15  19  24  32  38  40
..   ..  ..  ..  ..  ..  ..
100  15  17  23  31  33  41
101   3  15  20  22  24  45
102   2   5  13  31  42  44
103   2   5  16  17  22  23
104   4   5  23  30  42  47

[105 rows x 6 columns]

In [22]:
ball_bonus_class_20 = soup.find_all("li", class_="bonus-ball")
ball_bonus_20 = [pt.get_text() for pt in ball_bonus_class_20]
type(ball_bonus_20)

list

In [23]:
df_ball_bonus_20 = pd.DataFrame(ball_bonus_20,columns = ['Bonus'])

In [24]:
#join the two dataframes
df_2020 = pd.concat([df_ball_20, df_ball_bonus_20], axis=1)
df_2020

      A   B   C   D   E   F Bonus
0     8  13  21  23  40  44    28
1    22  23  24  28  32  41    44
2    22  30  33  39  40  45    38
3     9  14  16  28  33  38    22
4    15  19  24  32  38  40    23
..   ..  ..  ..  ..  ..  ..   ...
100  15  17  23  31  33  41    45
101   3  15  20  22  24  45    14
102   2   5  13  31  42  44    35
103   2   5  16  17  22  23    36
104   4   5  23  30  42  47     3

[105 rows x 7 columns]

In [25]:
lottery = "https://www.irishlottery.com/archive-2018"
#Query the website and return the html to the variable 'page'
page = requests.get(lottery)
page

In [26]:
page.status_code

200

In [27]:
soup = BeautifulSoup(page.content, 'lxml')

In [28]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_18 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_18 = [pt.get_text() for pt in ball_class_18]
type(ball_18)

list

In [29]:
df_ball_18 = pd.DataFrame(np.array(ball_18).reshape(-1,6),columns = list("ABCDEF"))
df_ball_18

      A   B   C   D   E   F
0     7  13  18  26  27  28
1     1   2  30  41  42  43
2     5  20  21  24  34  45
3     1   5  19  24  27  42
4     2   9  23  34  35  38
..   ..  ..  ..  ..  ..  ..
99    1   4  25  31  32  38
100   1   2   7  33  34  40
101  29  32  33  35  36  44
102   6   8  19  20  38  46
103   3   8  15  22  25  27

[104 rows x 6 columns]

In [30]:
ball_bonus_class_18 = soup.find_all("li", class_="bonus-ball")
ball_bonus_18 = [pt.get_text() for pt in ball_bonus_class_18]
type(ball_bonus_18)

list

In [31]:
df_ball_bonus_18 = pd.DataFrame(ball_bonus_18,columns = ['Bonus'])

In [32]:
#join the two dataframes
df_2018 = pd.concat([df_ball_18, df_ball_bonus_18], axis=1)
df_2018

      A   B   C   D   E   F Bonus
0     7  13  18  26  27  28     9
1     1   2  30  41  42  43    25
2     5  20  21  24  34  45    22
3     1   5  19  24  27  42    44
4     2   9  23  34  35  38    41
..   ..  ..  ..  ..  ..  ..   ...
99    1   4  25  31  32  38    45
100   1   2   7  33  34  40     6
101  29  32  33  35  36  44    42
102   6   8  19  20  38  46    23
103   3   8  15  22  25  27    20

[104 rows x 7 columns]

In [33]:
lottery = "https://www.irishlottery.com/archive-2017"
#Query the website and return the html to the variable 'page'
page = requests.get(lottery)
page

In [34]:
page.status_code

200

In [35]:
soup = BeautifulSoup(page.content, 'lxml')

In [36]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_17 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_17 = [pt.get_text() for pt in ball_class_17]
type(ball_17)

list

In [37]:
df_ball_17 = pd.DataFrame(np.array(ball_17).reshape(-1,6),columns = list("ABCDEF"))
df_ball_17

      A   B   C   D   E   F
0     2   8  14  18  39  44
1    17  20  22  24  25  40
2     5  14  28  29  32  38
3    15  16  18  26  27  38
4     1  21  33  37  38  40
..   ..  ..  ..  ..  ..  ..
99    2  12  24  31  34  43
100   2   4  11  22  25  34
101   8  12  13  16  19  24
102  33  36  39  42  45  47
103   6  10  19  21  43  44

[104 rows x 6 columns]

In [38]:
ball_bonus_class_17 = soup.find_all("li", class_="bonus-ball")
ball_bonus_17 = [pt.get_text() for pt in ball_bonus_class_17]
type(ball_bonus_17)

list

In [39]:
df_ball_bonus_17 = pd.DataFrame(ball_bonus_17,columns = ['Bonus'])

In [40]:
#join the two dataframes
df_2017 = pd.concat([df_ball_17, df_ball_bonus_17], axis=1)
df_2017

      A   B   C   D   E   F Bonus
0     2   8  14  18  39  44    16
1    17  20  22  24  25  40    18
2     5  14  28  29  32  38    31
3    15  16  18  26  27  38    43
4     1  21  33  37  38  40     8
..   ..  ..  ..  ..  ..  ..   ...
99    2  12  24  31  34  43    47
100   2   4  11  22  25  34     7
101   8  12  13  16  19  24    15
102  33  36  39  42  45  47    38
103   6  10  19  21  43  44     3

[104 rows x 7 columns]

In [41]:
lottery = "https://www.irishlottery.com/archive-2016"
#Query the website and return the html to the variable 'page'
page = requests.get(lottery)
page

In [42]:
page.status_code

200

In [43]:
soup = BeautifulSoup(page.content, 'lxml')

In [44]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_16 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_16 = [pt.get_text() for pt in ball_class_16]
type(ball_16)

list

In [45]:
df_ball_16 = pd.DataFrame(np.array(ball_16).reshape(-1,6),columns = list("ABCDEF"))
df_ball_16

      A   B   C   D   E   F
0     2   8  10  23  27  29
1     1  12  34  43  45  47
2     8  10  11  16  40  42
3     6  10  23  28  37  41
4     7  20  25  27  41  45
..   ..  ..  ..  ..  ..  ..
100  14  18  25  27  33  44
101  10  14  26  37  42  47
102   2  11  14  28  29  34
103   2  15  25  43  45  46
104  10  19  23  28  31  32

[105 rows x 6 columns]

In [46]:
ball_bonus_class_16 = soup.find_all("li", class_="bonus-ball")
ball_bonus_16 = [pt.get_text() for pt in ball_bonus_class_16]
type(ball_bonus_16)

list

In [47]:
df_ball_bonus_16 = pd.DataFrame(ball_bonus_16,columns = ['Bonus'])

In [48]:
#join the two dataframes
df_2016 = pd.concat([df_ball_16, df_ball_bonus_16], axis=1)
df_2016

      A   B   C   D   E   F Bonus
0     2   8  10  23  27  29     5
1     1  12  34  43  45  47    27
2     8  10  11  16  40  42    38
3     6  10  23  28  37  41    18
4     7  20  25  27  41  45    35
..   ..  ..  ..  ..  ..  ..   ...
100  14  18  25  27  33  44    38
101  10  14  26  37  42  47     2
102   2  11  14  28  29  34    37
103   2  15  25  43  45  46    16
104  10  19  23  28  31  32     6

[105 rows x 7 columns]

In [49]:
lottery = "https://www.irishlottery.com/archive-2021"
#Query the website and return the html to the variable 'page'
page = requests.get(lottery)
page

In [50]:
page.status_code

200

In [51]:
soup = BeautifulSoup(page.content, 'lxml')

In [52]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_21 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_21 = [pt.get_text() for pt in ball_class_21]
type(ball_21)

list

In [53]:
df_ball_21 = pd.DataFrame(np.array(ball_21).reshape(-1,6),columns = list("ABCDEF"))
df_ball_21

      A   B   C   D   E   F
0    22  25  28  32  35  47
1    11  17  19  23  26  43
2     2   5  13  22  36  43
3     5   8  12  13  25  26
4     4  10  21  27  41  42
..   ..  ..  ..  ..  ..  ..
99   12  17  22  32  38  39
100  12  18  29  32  34  44
101  10  17  42  43  45  47
102   8  10  14  23  39  47
103   3   6  18  26  42  47

[104 rows x 6 columns]

In [54]:
ball_bonus_class_21 = soup.find_all("li", class_="bonus-ball")
ball_bonus_21 = [pt.get_text() for pt in ball_bonus_class_21]
type(ball_bonus_21)

list

In [55]:
df_ball_bonus_21 = pd.DataFrame(ball_bonus_21,columns = ['Bonus'])

In [56]:
#join the two dataframes
df_2021 = pd.concat([df_ball_21, df_ball_bonus_21], axis=1)
df_2021

      A   B   C   D   E   F Bonus
0    22  25  28  32  35  47    15
1    11  17  19  23  26  43    31
2     2   5  13  22  36  43     3
3     5   8  12  13  25  26     9
4     4  10  21  27  41  42    18
..   ..  ..  ..  ..  ..  ..   ...
99   12  17  22  32  38  39    40
100  12  18  29  32  34  44     9
101  10  17  42  43  45  47    37
102   8  10  14  23  39  47     5
103   3   6  18  26  42  47     1

[104 rows x 7 columns]

In [57]:
lottery = "https://www.irishlottery.com/archive-2022"
#Query the website and return the html to the variable 'page'
page = requests.get(lottery)
page

In [58]:
soup = BeautifulSoup(page.content, 'lxml')
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_22 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_22 = [pt.get_text() for pt in ball_class_22]
type(ball_22)

list

In [59]:
df_ball_22 = pd.DataFrame(np.array(ball_22).reshape(-1,6),columns = list("ABCDEF"))
df_ball_22

      A   B   C   D   E   F
0     9  10  18  33  44  47
1     1  18  20  27  36  45
2     4  18  21  30  41  45
3    17  20  21  23  31  45
4    23  24  37  42  45  46
..   ..  ..  ..  ..  ..  ..
100   2   9  16  30  37  40
101   5   7  10  19  21  35
102   4   8  19  35  36  41
103   8  24  36  38  41  45
104   4   5  21  24  25  41

[105 rows x 6 columns]

In [60]:
# get the regular balls from the page
ball_bonus_class_22 = soup.find_all("li", class_="bonus-ball")
ball_bonus_22 = [pt.get_text() for pt in ball_bonus_class_22]
type(ball_bonus_22)

list

In [61]:
# get the bonus ball
df_ball_bonus_22 = pd.DataFrame(ball_bonus_22,columns = ['Bonus'])

In [62]:
# join the two dataframes
df_2022 = pd.concat([df_ball_22, df_ball_bonus_22], axis=1)
df_2022

      A   B   C   D   E   F Bonus
0     9  10  18  33  44  47    38
1     1  18  20  27  36  45    10
2     4  18  21  30  41  45    44
3    17  20  21  23  31  45    24
4    23  24  37  42  45  46    20
..   ..  ..  ..  ..  ..  ..   ...
100   2   9  16  30  37  40    23
101   5   7  10  19  21  35    36
102   4   8  19  35  36  41    23
103   8  24  36  38  41  45    16
104   4   5  21  24  25  41     1

[105 rows x 7 columns]

In [63]:
frames = [df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022]
df_combined = pd.concat(frames, keys=['2016', '2017', '2018', '2019', '2020', '2021', '2022'])
df_combined

          A   B   C   D   E   F Bonus
2016 0    2   8  10  23  27  29     5
     1    1  12  34  43  45  47    27
     2    8  10  11  16  40  42    38
     3    6  10  23  28  37  41    18
     4    7  20  25  27  41  45    35
...      ..  ..  ..  ..  ..  ..   ...
2022 100  2   9  16  30  37  40    23
     101  5   7  10  19  21  35    36
     102  4   8  19  35  36  41    23
     103  8  24  36  38  41  45    16
     104  4   5  21  24  25  41     1

[731 rows x 7 columns]

## Export to csv

In [64]:
df_combined.to_csv('lotto_results.csv')

## Lotto dataframe 2016-2021

In [65]:
df_lotto_all = pd.read_csv('lotto_results.csv')
df_lotto_all = df_lotto_all.drop(["Unnamed: 1"], axis=1)
df_lotto_all

     Unnamed: 0  A   B   C   D   E   F  Bonus
0          2016  2   8  10  23  27  29      5
1          2016  1  12  34  43  45  47     27
2          2016  8  10  11  16  40  42     38
3          2016  6  10  23  28  37  41     18
4          2016  7  20  25  27  41  45     35
..          ... ..  ..  ..  ..  ..  ..    ...
726        2022  2   9  16  30  37  40     23
727        2022  5   7  10  19  21  35     36
728        2022  4   8  19  35  36  41     23
729        2022  8  24  36  38  41  45     16
730        2022  4   5  21  24  25  41      1

[731 rows x 8 columns]

In [66]:
df_lotto_all = df_lotto_all.rename(columns={"Unnamed: 0": "Year", "Bonus":"G"})
df_lotto_all

     Year  A   B   C   D   E   F   G
0    2016  2   8  10  23  27  29   5
1    2016  1  12  34  43  45  47  27
2    2016  8  10  11  16  40  42  38
3    2016  6  10  23  28  37  41  18
4    2016  7  20  25  27  41  45  35
..    ... ..  ..  ..  ..  ..  ..  ..
726  2022  2   9  16  30  37  40  23
727  2022  5   7  10  19  21  35  36
728  2022  4   8  19  35  36  41  23
729  2022  8  24  36  38  41  45  16
730  2022  4   5  21  24  25  41   1

[731 rows x 8 columns]

In [67]:
df_lotto_all.set_index('Year', inplace=True)
df_lotto_all

      A   B   C   D   E   F   G
Year
2016  2   8  10  23  27  29   5
2016  1  12  34  43  45  47  27
2016  8  10  11  16  40  42  38
2016  6  10  23  28  37  41  18
2016  7  20  25  27  41  45  35
...  ..  ..  ..  ..  ..  ..  ..
2022  2   9  16  30  37  40  23
2022  5   7  10  19  21  35  36
2022  4   8  19  35  36  41  23
2022  8  24  36  38  41  45  16
2022  4   5  21  24  25  41   1

[731 rows x 7 columns]

### Most common balls 2016-2022

In [68]:
df_numbers_all = df_lotto_all
df_numbers_all

      A   B   C   D   E   F   G
Year
2016  2   8  10  23  27  29   5
2016  1  12  34  43  45  47  27
2016  8  10  11  16  40  42  38
2016  6  10  23  28  37  41  18
2016  7  20  25  27  41  45  35
...  ..  ..  ..  ..  ..  ..  ..
2022  2   9  16  30  37  40  23
2022  5   7  10  19  21  35  36
2022  4   8  19  35  36  41  23
2022  8  24  36  38  41  45  16
2022  4   5  21  24  25  41   1

[731 rows x 7 columns]

In [69]:
# Convert numbers to a list
NumsToListAll = list(df_numbers_all.values.T.flatten())
most_common_all,num_most_common_all = Counter(NumsToListAll).most_common(1)[0]
print(most_common_all)
print(num_most_common_all)

27
140

In [70]:
# print the dictionary with sorted values
dictionary_numbers_all = Counter(NumsToListAll)
dictionary_numbers_all_sorted = sorted(dictionary_numbers_all, key=dictionary_numbers_all.get, reverse=True)
for r in dictionary_numbers_all_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_all[r]} times")

27	:	 140 times
29	:	 125 times
42	:	 125 times
47	:	 125 times
45	:	 123 times
16	:	 120 times
31	:	 120 times
18	:	 120 times
38	:	 120 times
35	:	 118 times
22	:	 117 times
37	:	 117 times
40	:	 117 times
10	:	 116 times
2	:	 115 times
5	:	 115 times
15	:	 114 times
34	:	 114 times
1	:	 113 times
20	:	 113 times

### Most common balls in 2016

In [71]:
df_numbers_16 = df_lotto_all.loc["2016"]
df_numbers_16

       A   B   C   D   E   F   G
Year
2016   2   8  10  23  27  29   5
2016   1  12  34  43  45  47  27
2016   8  10  11  16  40  42  38
2016   6  10  23  28  37  41  18
2016   7  20  25  27  41  45  35
...   ..  ..  ..  ..  ..  ..  ..
2016  14  18  25  27  33  44  38
2016  10  14  26  37  42  47   2
2016   2  11  14  28  29  34  37
2016   2  15  25  43  45  46  16
2016  10  19  23  28  31  32   6

[105 rows x 7 columns]

In [72]:
NumsToList2016 = list(df_numbers_16.values.T.flatten())
most_common_16,num_most_common_16 = Counter(NumsToList2016).most_common(1)[0]
print(most_common_16)
print(num_most_common_16)

27
26

In [73]:
# find the 6 most common numbers in the list in 2016
most_common_16 = Counter(NumsToList2016).most_common(6)
most_common_16

[(27, 26), (10, 25), (2, 22), (28, 21), (4, 20), (42, 20)]

In [74]:
#print the dictionary with sorted values
dictionary_numbers_16 = Counter(NumsToList2016)
dictionary_numbers_16_sorted = sorted(dictionary_numbers_16, key=dictionary_numbers_16.get, reverse=True)
for r in dictionary_numbers_16_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_16[r]} times")

27	:	 26 times
10	:	 25 times
2	:	 22 times
28	:	 21 times
4	:	 20 times
42	:	 20 times
6	:	 19 times
15	:	 19 times
14	:	 19 times
17	:	 19 times
43	:	 19 times
9	:	 18 times
18	:	 18 times
34	:	 18 times
37	:	 18 times
40	:	 18 times
45	:	 18 times
44	:	 18 times
5	:	 17 times
29	:	 17 times

### Most common balls in 2017

In [75]:
df_numbers_17 = df_lotto_all.loc["2017"]
df_numbers_17

       A   B   C   D   E   F   G
Year
2017   2   8  14  18  39  44  16
2017  17  20  22  24  25  40  18
2017   5  14  28  29  32  38  31
2017  15  16  18  26  27  38  43
2017   1  21  33  37  38  40   8
...   ..  ..  ..  ..  ..  ..  ..
2017   2  12  24  31  34  43  47
2017   2   4  11  22  25  34   7
2017   8  12  13  16  19  24  15
2017  33  36  39  42  45  47  38
2017   6  10  19  21  43  44   3

[104 rows x 7 columns]

In [76]:
NumsToList2017 = list(df_numbers_17.values.T.flatten())
most_common_17,num_most_common_17 = Counter(NumsToList2017).most_common(1)[0]
print(most_common_17)
print(num_most_common_17)

16
24

In [77]:
#print the dictionary with sorted values
dictionary_numbers_17 = Counter(NumsToList2017)
dictionary_numbers_17_sorted = sorted(dictionary_numbers_17, key=dictionary_numbers_17.get, reverse=True)
for r in dictionary_numbers_17_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_17[r]} times")

16	:	 24 times
31	:	 23 times
7	:	 22 times
18	:	 22 times
47	:	 22 times
38	:	 21 times
24	:	 21 times
9	:	 19 times
42	:	 19 times
19	:	 18 times
32	:	 18 times
29	:	 18 times
2	:	 17 times
34	:	 17 times
17	:	 16 times
1	:	 16 times
22	:	 16 times
39	:	 16 times
43	:	 16 times
11	:	 15 times

## Most common balls in 2018

In [78]:
df_numbers_18 = df_lotto_all.loc[2018]
df_numbers_18

       A   B   C   D   E   F   G
Year
2018   7  13  18  26  27  28   9
2018   1   2  30  41  42  43  25
2018   5  20  21  24  34  45  22
2018   1   5  19  24  27  42  44
2018   2   9  23  34  35  38  41
...   ..  ..  ..  ..  ..  ..  ..
2018   1   4  25  31  32  38  45
2018   1   2   7  33  34  40   6
2018  29  32  33  35  36  44  42
2018   6   8  19  20  38  46  23
2018   3   8  15  22  25  27  20

[104 rows x 7 columns]

In [79]:
# Convert numbers to a list
NumsToList2018 = list(df_numbers_18.values.T.flatten())
most_common_18,num_most_common_18 = Counter(NumsToList2018).most_common(1)[0]
print(most_common_18)
print(num_most_common_18)

22
22

In [80]:
#nprint the dictionary with sorted values
dictionary_numbers_18 = Counter(NumsToList2018)
dictionary_numbers_18_sorted = sorted(dictionary_numbers_18, key=dictionary_numbers_18.get, reverse=True)
for r in dictionary_numbers_18_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_18[r]} times")

22	:	 22 times
30	:	 22 times
31	:	 22 times
20	:	 21 times
29	:	 21 times
5	:	 20 times
27	:	 20 times
42	:	 20 times
8	:	 19 times
45	:	 18 times
7	:	 17 times
19	:	 17 times
38	:	 17 times
37	:	 17 times
2	:	 16 times
9	:	 16 times
15	:	 16 times
21	:	 16 times
12	:	 16 times
24	:	 16 times

### Most common balls in 2021

In [81]:
df_numbers_21 = df_lotto_all.loc[2021]
df_numbers_21

       A   B   C   D   E   F   G
Year
2021  22  25  28  32  35  47  15
2021  11  17  19  23  26  43  31
2021   2   5  13  22  36  43   3
2021   5   8  12  13  25  26   9
2021   4  10  21  27  41  42  18
...   ..  ..  ..  ..  ..  ..  ..
2021  12  17  22  32  38  39  40
2021  12  18  29  32  34  44   9
2021  10  17  42  43  45  47  37
2021   8  10  14  23  39  47   5
2021   3   6  18  26  42  47   1

[104 rows x 7 columns]

In [82]:
# Convert numbers to a list
NumsToList2021 = list(df_numbers_21.values.T.flatten())
most_common_21,num_most_common_21 = Counter(NumsToList2021).most_common(1)[0]
print(most_common_21)
print(num_most_common_21)

5
22

In [83]:
# print the dictionary with sorted values
dictionary_numbers_21 = Counter(NumsToList2021)
dictionary_numbers_21_sorted = sorted(dictionary_numbers_21, key=dictionary_numbers_21.get, reverse=True)
for r in dictionary_numbers_21_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_21[r]} times")

5	:	 22 times
47	:	 22 times
45	:	 21 times
1	:	 20 times
12	:	 20 times
18	:	 20 times
23	:	 19 times
27	:	 19 times
43	:	 19 times
22	:	 18 times
14	:	 18 times
15	:	 18 times
32	:	 18 times
40	:	 18 times
21	:	 17 times
38	:	 17 times
34	:	 17 times
46	:	 17 times
8	:	 16 times
25	:	 16 times

### Most common balls in 2022

In [84]:
df_numbers_22 = df_lotto_all.loc[2022]
df_numbers_22

       A   B   C   D   E   F   G
Year
2022   9  10  18  33  44  47  38
2022   1  18  20  27  36  45  10
2022   4  18  21  30  41  45  44
2022  17  20  21  23  31  45  24
2022  23  24  37  42  45  46  20
...   ..  ..  ..  ..  ..  ..  ..
2022   2   9  16  30  37  40  23
2022   5   7  10  19  21  35  36
2022   4   8  19  35  36  41  23
2022   8  24  36  38  41  45  16
2022   4   5  21  24  25  41   1

[105 rows x 7 columns]

In [85]:
# Convert numbers to a list
NumsToList2022 = list(df_numbers_22.values.T.flatten())
most_common_22,num_most_common_22 = Counter(NumsToList2022).most_common(1)[0]
print(most_common_22)
print(num_most_common_22)

35
29

In [86]:
# print the dictionary with sorted values
dictionary_numbers_22 = Counter(NumsToList2022)
dictionary_numbers_22_sorted = sorted(dictionary_numbers_22, key=dictionary_numbers_22.get, reverse=True)
for r in dictionary_numbers_22_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_22[r]} times")

35	:	 29 times
27	:	 22 times
45	:	 22 times
20	:	 21 times
2	:	 20 times
36	:	 20 times
40	:	 20 times
41	:	 20 times
46	:	 20 times
21	:	 19 times
29	:	 19 times
30	:	 18 times
38	:	 18 times
44	:	 18 times
47	:	 18 times
9	:	 16 times
1	:	 16 times
10	:	 16 times
11	:	 16 times
16	:	 16 times

### Most common balls 2020-2022

In [87]:
df_numbers20_22 = df_lotto_all.loc[2020:2022]
df_numbers20_22

       A   B   C   D   E   F   G
Year
2020   8  13  21  23  40  44  28
2020  22  23  24  28  32  41  44
2020  22  30  33  39  40  45  38
2020   9  14  16  28  33  38  22
2020  15  19  24  32  38  40  23
...   ..  ..  ..  ..  ..  ..  ..
2022   2   9  16  30  37  40  23
2022   5   7  10  19  21  35  36
2022   4   8  19  35  36  41  23
2022   8  24  36  38  41  45  16
2022   4   5  21  24  25  41   1

[314 rows x 7 columns]

In [88]:
# Convert numbers to a list
NumsToList20_22 = list(df_numbers20_22.values.T.flatten())
most_common20_22,num_most_common20_22 = Counter(NumsToList20_22).most_common(1)[0]
print(most_common20_22)
print(num_most_common20_22)

45
61

In [89]:
# print the dictionary with sorted values
dictionary_numbers20_22 = Counter(NumsToList20_22)
dictionary_numbers20_22_sorted = sorted(dictionary_numbers20_22, key=dictionary_numbers20_22.get, reverse=True)
for r in dictionary_numbers20_22_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers20_22[r]} times")

45	:	 61 times
47	:	 60 times
5	:	 59 times
27	:	 59 times
40	:	 56 times
38	:	 54 times
20	:	 53 times
23	:	 53 times
15	:	 52 times
35	:	 52 times
12	:	 51 times
18	:	 51 times
41	:	 51 times
22	:	 50 times
14	:	 50 times
29	:	 50 times
33	:	 50 times
44	:	 50 times
1	:	 49 times
10	:	 49 times

### Most common balls 2019-2022

In [90]:
df_numbers19_22 = df_lotto_all.loc[2019:2022]
df_numbers19_22

       A   B   C   D   E   F   G
Year
2019   2  14  18  23  34  39  25
2019  12  23  30  36  37  38   3
2019   6  19  22  28  35  40  32
2019   8   9  14  18  23  38  16
2019  11  17  24  29  30  47  38
...   ..  ..  ..  ..  ..  ..  ..
2022   2   9  16  30  37  40  23
2022   5   7  10  19  21  35  36
2022   4   8  19  35  36  41  23
2022   8  24  36  38  41  45  16
2022   4   5  21  24  25  41   1

[418 rows x 7 columns]

In [91]:
# Convert numbers to a list
NumsToList19_22 = list(df_numbers19_22.values.T.flatten())
most_common19_22,num_most_common19_22 = Counter(NumsToList19_22).most_common(1)[0]
print(most_common19_22)
print(num_most_common19_22)

27
80

In [92]:
# print the dictionary with sorted values
dictionary_numbers19_22 = Counter(NumsToList19_22)
dictionary_numbers19_22_sorted = sorted(dictionary_numbers19_22, key=dictionary_numbers19_22.get, reverse=True)
for r in dictionary_numbers19_22_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers19_22[r]} times")

27	:	 80 times
35	:	 74 times
47	:	 74 times
45	:	 72 times
23	:	 71 times
40	:	 70 times
12	:	 69 times
14	:	 69 times
29	:	 69 times
38	:	 69 times
18	:	 68 times
37	:	 68 times
46	:	 68 times
1	:	 67 times
10	:	 67 times
15	:	 66 times
3	:	 66 times
16	:	 66 times
34	:	 66 times
42	:	 66 times

### Most common balls 2018-2022

In [93]:
df_numbers18_22 = df_lotto_all.loc[2018:2022]
df_numbers18_22

      A   B   C   D   E   F   G
Year
2018  7  13  18  26  27  28   9
2018  1   2  30  41  42  43  25
2018  5  20  21  24  34  45  22
2018  1   5  19  24  27  42  44
2018  2   9  23  34  35  38  41
...  ..  ..  ..  ..  ..  ..  ..
2022  2   9  16  30  37  40  23
2022  5   7  10  19  21  35  36
2022  4   8  19  35  36  41  23
2022  8  24  36  38  41  45  16
2022  4   5  21  24  25  41   1

[522 rows x 7 columns]

In [94]:
# Convert numbers to a list
NumsToList18_22 = list(df_numbers18_22.values.T.flatten())
most_common18_22,num_most_common18_22 = Counter(NumsToList18_22).most_common(1)[0]
print(most_common18_22)
print(num_most_common18_22)

27
100

In [95]:
# print the dictionary with sorted values
dictionary_numbers18_22 = Counter(NumsToList18_22)
dictionary_numbers18_22_sorted = sorted(dictionary_numbers18_22, key=dictionary_numbers18_22.get, reverse=True)
for r in dictionary_numbers18_22_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers18_22[r]} times")

27	:	 100 times
29	:	 90 times
35	:	 90 times
45	:	 90 times
47	:	 90 times
22	:	 87 times
30	:	 86 times
38	:	 86 times
42	:	 86 times
12	:	 85 times
37	:	 85 times
5	:	 84 times
40	:	 84 times
14	:	 83 times
20	:	 83 times
31	:	 83 times
46	:	 83 times
15	:	 82 times
23	:	 82 times
1	:	 81 times

### Most common 2017-2022

In [96]:
df_numbers17_22 = df_lotto_all.loc[2017:2022]
df_numbers17_22

       A   B   C   D   E   F   G
Year
2017   2   8  14  18  39  44  16
2017  17  20  22  24  25  40  18
2017   5  14  28  29  32  38  31
2017  15  16  18  26  27  38  43
2017   1  21  33  37  38  40   8
...   ..  ..  ..  ..  ..  ..  ..
2022   2   9  16  30  37  40  23
2022   5   7  10  19  21  35  36
2022   4   8  19  35  36  41  23
2022   8  24  36  38  41  45  16
2022   4   5  21  24  25  41   1

[626 rows x 7 columns]

In [97]:
# Convert numbers to a list
NumsToList17_22 = list(df_numbers17_22.values.T.flatten())
most_common17_22,num_most_common17_22 = Counter(NumsToList17_22).most_common(1)[0]
print(most_common17_22)
print(num_most_common17_22)

27
114

In [98]:
# print the dictionary with sorted values
dictionary_numbers17_22 = Counter(NumsToList17_22)
dictionary_numbers17_22_sorted = sorted(dictionary_numbers17_22, key=dictionary_numbers17_22.get, reverse=True)
for r in dictionary_numbers17_22_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers17_22[r]} times")

27	:	 114 times
47	:	 112 times
29	:	 108 times
38	:	 107 times
31	:	 106 times
42	:	 105 times
45	:	 105 times
16	:	 104 times
22	:	 103 times
18	:	 102 times
35	:	 102 times
37	:	 99 times
40	:	 99 times
5	:	 98 times
7	:	 98 times
12	:	 98 times
20	:	 98 times
30	:	 98 times
1	:	 97 times
34	:	 96 times

### Most common 2021-2022

In [99]:
df_numbers21_22 = df_lotto_all.loc[2021:2022]
df_numbers21_22

       A   B   C   D   E   F   G
Year
2021  22  25  28  32  35  47  15
2021  11  17  19  23  26  43  31
2021   2   5  13  22  36  43   3
2021   5   8  12  13  25  26   9
2021   4  10  21  27  41  42  18
...   ..  ..  ..  ..  ..  ..  ..
2022   2   9  16  30  37  40  23
2022   5   7  10  19  21  35  36
2022   4   8  19  35  36  41  23
2022   8  24  36  38  41  45  16
2022   4   5  21  24  25  41   1

[209 rows x 7 columns]

In [100]:
# Convert numbers to a list
NumsToList21_22 = list(df_numbers21_22.values.T.flatten())
most_common21_22,num_most_common21_22 = Counter(NumsToList21_22).most_common(1)[0]
print(most_common21_22)
print(num_most_common21_22)

45
43

In [101]:
# print the dictionary with sorted values
dictionary_numbers21_22 = Counter(NumsToList21_22)
dictionary_numbers21_22_sorted = sorted(dictionary_numbers21_22, key=dictionary_numbers21_22.get, reverse=True)
for r in dictionary_numbers21_22_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers21_22[r]} times")

45	:	 43 times
27	:	 41 times
35	:	 41 times
47	:	 40 times
40	:	 38 times
46	:	 37 times
1	:	 36 times
18	:	 36 times
21	:	 36 times
5	:	 35 times
38	:	 35 times
41	:	 35 times
43	:	 35 times
12	:	 34 times
44	:	 34 times
29	:	 33 times
22	:	 32 times
2	:	 32 times
30	:	 32 times
26	:	 32 times