In [1]:
#import the library used to query a website
import requests
from collections import Counter
#specify the url for 2019
lottery19 = "https://www.irishlottery.com/archive-2019"
#Query the website and return the html to the variable 'page'
page19 = requests.get(lottery19)
page19

In [2]:
page19.status_code

200

In [3]:
#import the Beautiful soup functions to parse the data returned from the website
from bs4 import BeautifulSoup
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page19.content, 'lxml')

In [4]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_19 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_19 = [pt.get_text() for pt in ball_class_19]
type(ball_19)

list

In [5]:
#convert into a dataframe in acsending order
import numpy as np
import pandas as pd
df_ball_19 = pd.DataFrame(np.array(ball_19).reshape(-1,6),columns = list("ABCDEF"))
df_ball_19

      A   B   C   D   E   F
0     2  14  18  23  34  39
1    12  23  30  36  37  38
2     6  19  22  28  35  40
3     8   9  14  18  23  38
4    11  17  24  29  30  47
..   ..  ..  ..  ..  ..  ..
99    6   9  11  27  34  42
100  19  30  32  33  35  46
101  15  16  18  23  39  45
102   7  10  18  26  37  40
103   2  14  26  33  37  47

[104 rows x 6 columns]

In [6]:
# Find the bonus number available at the class = "bonus-ball"
ball_bonus_class_19 = soup.find_all("li", class_="bonus-ball")
ball_bonus_19 = [pt.get_text() for pt in ball_bonus_class_19]
type(ball_bonus_19)

list

In [7]:
df_ball_bonus_19 = pd.DataFrame(ball_bonus_19,columns = ['Bonus'])

In [8]:
#join the two dataframes
df_2019 = pd.concat([df_ball_19, df_ball_bonus_19], axis=1)
df_2019

      A   B   C   D   E   F Bonus
0     2  14  18  23  34  39    25
1    12  23  30  36  37  38     3
2     6  19  22  28  35  40    32
3     8   9  14  18  23  38    16
4    11  17  24  29  30  47    38
..   ..  ..  ..  ..  ..  ..   ...
99    6   9  11  27  34  42    14
100  19  30  32  33  35  46     3
101  15  16  18  23  39  45    22
102   7  10  18  26  37  40     4
103   2  14  26  33  37  47    38

[104 rows x 7 columns]

In [9]:
#find all the dates available in th
#date = soup.find_all("th")
#date1 = [pt.get_text() for pt in date]

In [10]:
#convert to the dtaframe
#df_date = pd.DataFrame(date1,columns =['Date'])
#select the datframe after first two rows as they show result date and draw result
#df_date = df_date[2:]

In [11]:
#reset the index from 0
#df_date = df_date.reset_index()
#del df_date['index']

In [12]:
#df_date.dtypes

In [13]:
#convert the date into date time
#df_date = df_date.apply(pd.to_datetime)

In [14]:
#https://stackoverflow.com/questions/42693410/how-to-convert-object-to-date-in-pandas
#df_date.dtypes

In [15]:
#df1 = pd.concat([df_date, df_2019], axis=1)
#df1.describe()

In [16]:
# df_2019.to_csv('Lotto.csv'index=False)

In [17]:
lottery20 = "https://www.irishlottery.com/archive-2020"
#Query the website and return the html to the variable 'page'
page20 = requests.get(lottery20)
page20

In [18]:
page20.status_code

200

In [19]:
soup = BeautifulSoup(page20.content, 'lxml')

In [20]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_20 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_20 = [pt.get_text() for pt in ball_class_20]
type(ball_20)

list

In [21]:
df_ball_20 = pd.DataFrame(np.array(ball_20).reshape(-1,6),columns = list("ABCDEF"))
df_ball_20

      A   B   C   D   E   F
0     8  13  21  23  40  44
1    22  23  24  28  32  41
2    22  30  33  39  40  45
3     9  14  16  28  33  38
4    15  19  24  32  38  40
..   ..  ..  ..  ..  ..  ..
100  15  17  23  31  33  41
101   3  15  20  22  24  45
102   2   5  13  31  42  44
103   2   5  16  17  22  23
104   4   5  23  30  42  47

[105 rows x 6 columns]

In [22]:
ball_bonus_class_20 = soup.find_all("li", class_="bonus-ball")
ball_bonus_20 = [pt.get_text() for pt in ball_bonus_class_20]
type(ball_bonus_20)

list

In [23]:
df_ball_bonus_20 = pd.DataFrame(ball_bonus_20,columns = ['Bonus'])

In [24]:
#join the two dataframes
df_2020 = pd.concat([df_ball_20, df_ball_bonus_20], axis=1)
df_2020

      A   B   C   D   E   F Bonus
0     8  13  21  23  40  44    28
1    22  23  24  28  32  41    44
2    22  30  33  39  40  45    38
3     9  14  16  28  33  38    22
4    15  19  24  32  38  40    23
..   ..  ..  ..  ..  ..  ..   ...
100  15  17  23  31  33  41    45
101   3  15  20  22  24  45    14
102   2   5  13  31  42  44    35
103   2   5  16  17  22  23    36
104   4   5  23  30  42  47     3

[105 rows x 7 columns]

In [25]:
lottery18 = "https://www.irishlottery.com/archive-2018"
#Query the website and return the html to the variable 'page'
page18 = requests.get(lottery18)
page18

In [26]:
page18.status_code

200

In [27]:
soup = BeautifulSoup(page18.content, 'lxml')

In [28]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_18 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_18 = [pt.get_text() for pt in ball_class_18]
type(ball_18)

list

In [29]:
df_ball_18 = pd.DataFrame(np.array(ball_18).reshape(-1,6),columns = list("ABCDEF"))
df_ball_18

      A   B   C   D   E   F
0     7  13  18  26  27  28
1     1   2  30  41  42  43
2     5  20  21  24  34  45
3     1   5  19  24  27  42
4     2   9  23  34  35  38
..   ..  ..  ..  ..  ..  ..
99    1   4  25  31  32  38
100   1   2   7  33  34  40
101  29  32  33  35  36  44
102   6   8  19  20  38  46
103   3   8  15  22  25  27

[104 rows x 6 columns]

In [30]:
ball_bonus_class_18 = soup.find_all("li", class_="bonus-ball")
ball_bonus_18 = [pt.get_text() for pt in ball_bonus_class_18]
type(ball_bonus_18)

list

In [31]:
df_ball_bonus_18 = pd.DataFrame(ball_bonus_18,columns = ['Bonus'])

In [32]:
#join the two dataframes
df_2018 = pd.concat([df_ball_18, df_ball_bonus_18], axis=1)
df_2018

      A   B   C   D   E   F Bonus
0     7  13  18  26  27  28     9
1     1   2  30  41  42  43    25
2     5  20  21  24  34  45    22
3     1   5  19  24  27  42    44
4     2   9  23  34  35  38    41
..   ..  ..  ..  ..  ..  ..   ...
99    1   4  25  31  32  38    45
100   1   2   7  33  34  40     6
101  29  32  33  35  36  44    42
102   6   8  19  20  38  46    23
103   3   8  15  22  25  27    20

[104 rows x 7 columns]

In [33]:
lottery17 = "https://www.irishlottery.com/archive-2017"
#Query the website and return the html to the variable 'page'
page17 = requests.get(lottery17)
page17

In [34]:
page17.status_code

200

In [35]:
soup = BeautifulSoup(page17.content, 'lxml')

In [36]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_17 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_17 = [pt.get_text() for pt in ball_class_17]
type(ball_17)

list

In [37]:
df_ball_17 = pd.DataFrame(np.array(ball_17).reshape(-1,6),columns = list("ABCDEF"))
df_ball_17

      A   B   C   D   E   F
0     2   8  14  18  39  44
1    17  20  22  24  25  40
2     5  14  28  29  32  38
3    15  16  18  26  27  38
4     1  21  33  37  38  40
..   ..  ..  ..  ..  ..  ..
99    2  12  24  31  34  43
100   2   4  11  22  25  34
101   8  12  13  16  19  24
102  33  36  39  42  45  47
103   6  10  19  21  43  44

[104 rows x 6 columns]

In [38]:
ball_bonus_class_17 = soup.find_all("li", class_="bonus-ball")
ball_bonus_17 = [pt.get_text() for pt in ball_bonus_class_17]
type(ball_bonus_17)

list

In [39]:
df_ball_bonus_17 = pd.DataFrame(ball_bonus_17,columns = ['Bonus'])

In [40]:
#join the two dataframes
df_2017 = pd.concat([df_ball_17, df_ball_bonus_17], axis=1)
df_2017

      A   B   C   D   E   F Bonus
0     2   8  14  18  39  44    16
1    17  20  22  24  25  40    18
2     5  14  28  29  32  38    31
3    15  16  18  26  27  38    43
4     1  21  33  37  38  40     8
..   ..  ..  ..  ..  ..  ..   ...
99    2  12  24  31  34  43    47
100   2   4  11  22  25  34     7
101   8  12  13  16  19  24    15
102  33  36  39  42  45  47    38
103   6  10  19  21  43  44     3

[104 rows x 7 columns]

In [41]:
lottery16 = "https://www.irishlottery.com/archive-2016"
#Query the website and return the html to the variable 'page'
page16 = requests.get(lottery16)
page16

In [42]:
page16.status_code

200

In [43]:
soup = BeautifulSoup(page16.content, 'lxml')

In [44]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_16 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_16 = [pt.get_text() for pt in ball_class_16]
type(ball_16)

list

In [45]:
df_ball_16 = pd.DataFrame(np.array(ball_16).reshape(-1,6),columns = list("ABCDEF"))
df_ball_16

      A   B   C   D   E   F
0     2   8  10  23  27  29
1     1  12  34  43  45  47
2     8  10  11  16  40  42
3     6  10  23  28  37  41
4     7  20  25  27  41  45
..   ..  ..  ..  ..  ..  ..
100  14  18  25  27  33  44
101  10  14  26  37  42  47
102   2  11  14  28  29  34
103   2  15  25  43  45  46
104  10  19  23  28  31  32

[105 rows x 6 columns]

In [46]:
ball_bonus_class_16 = soup.find_all("li", class_="bonus-ball")
ball_bonus_16 = [pt.get_text() for pt in ball_bonus_class_16]
type(ball_bonus_16)

list

In [47]:
df_ball_bonus_16 = pd.DataFrame(ball_bonus_16,columns = ['Bonus'])

In [48]:
#join the two dataframes
df_2016 = pd.concat([df_ball_16, df_ball_bonus_16], axis=1)
df_2016

      A   B   C   D   E   F Bonus
0     2   8  10  23  27  29     5
1     1  12  34  43  45  47    27
2     8  10  11  16  40  42    38
3     6  10  23  28  37  41    18
4     7  20  25  27  41  45    35
..   ..  ..  ..  ..  ..  ..   ...
100  14  18  25  27  33  44    38
101  10  14  26  37  42  47     2
102   2  11  14  28  29  34    37
103   2  15  25  43  45  46    16
104  10  19  23  28  31  32     6

[105 rows x 7 columns]

In [49]:
lottery21 = "https://www.irishlottery.com/archive-2021"
#Query the website and return the html to the variable 'page'
page21 = requests.get(lottery21)
page21

In [50]:
page21.status_code

200

In [51]:
soup = BeautifulSoup(page21.content, 'lxml')

In [52]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_21 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_21 = [pt.get_text() for pt in ball_class_21]
type(ball_21)

list

In [53]:
df_ball_21 = pd.DataFrame(np.array(ball_21).reshape(-1,6),columns = list("ABCDEF"))
df_ball_21

      A   B   C   D   E   F
0    22  25  28  32  35  47
1    11  17  19  23  26  43
2     2   5  13  22  36  43
3     5   8  12  13  25  26
4     4  10  21  27  41  42
..   ..  ..  ..  ..  ..  ..
99   12  17  22  32  38  39
100  12  18  29  32  34  44
101  10  17  42  43  45  47
102   8  10  14  23  39  47
103   3   6  18  26  42  47

[104 rows x 6 columns]

In [54]:
ball_bonus_class_21 = soup.find_all("li", class_="bonus-ball")
ball_bonus_21 = [pt.get_text() for pt in ball_bonus_class_21]
type(ball_bonus_21)

list

In [55]:
df_ball_bonus_21 = pd.DataFrame(ball_bonus_21,columns = ['Bonus'])

In [56]:
#join the two dataframes
df_2021 = pd.concat([df_ball_21, df_ball_bonus_21], axis=1)
df_2021

      A   B   C   D   E   F Bonus
0    22  25  28  32  35  47    15
1    11  17  19  23  26  43    31
2     2   5  13  22  36  43     3
3     5   8  12  13  25  26     9
4     4  10  21  27  41  42    18
..   ..  ..  ..  ..  ..  ..   ...
99   12  17  22  32  38  39    40
100  12  18  29  32  34  44     9
101  10  17  42  43  45  47    37
102   8  10  14  23  39  47     5
103   3   6  18  26  42  47     1

[104 rows x 7 columns]

In [57]:
lottery22 = "https://www.irishlottery.com/archive-2022"
#Query the website and return the html to the variable 'page'
page22 = requests.get(lottery22)
page22

In [58]:
soup = BeautifulSoup(page22.content, 'lxml')
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_22 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_22 = [pt.get_text() for pt in ball_class_22]
type(ball_22)

list

In [59]:
df_ball_22 = pd.DataFrame(np.array(ball_22).reshape(-1,6),columns = list("ABCDEF"))
df_ball_22

      A   B   C   D   E   F
0     9  10  18  33  44  47
1     1  18  20  27  36  45
2     4  18  21  30  41  45
3    17  20  21  23  31  45
4    23  24  37  42  45  46
..   ..  ..  ..  ..  ..  ..
100   2   9  16  30  37  40
101   5   7  10  19  21  35
102   4   8  19  35  36  41
103   8  24  36  38  41  45
104   4   5  21  24  25  41

[105 rows x 6 columns]

In [60]:
# get the regular balls from the page
ball_bonus_class_22 = soup.find_all("li", class_="bonus-ball")
ball_bonus_22 = [pt.get_text() for pt in ball_bonus_class_22]
type(ball_bonus_22)

list

In [61]:
# get the bonus ball
df_ball_bonus_22 = pd.DataFrame(ball_bonus_22,columns = ['Bonus'])

In [62]:
# join the two dataframes
df_2022 = pd.concat([df_ball_22, df_ball_bonus_22], axis=1)
df_2022

      A   B   C   D   E   F Bonus
0     9  10  18  33  44  47    38
1     1  18  20  27  36  45    10
2     4  18  21  30  41  45    44
3    17  20  21  23  31  45    24
4    23  24  37  42  45  46    20
..   ..  ..  ..  ..  ..  ..   ...
100   2   9  16  30  37  40    23
101   5   7  10  19  21  35    36
102   4   8  19  35  36  41    23
103   8  24  36  38  41  45    16
104   4   5  21  24  25  41     1

[105 rows x 7 columns]

#### Get 2023 history

In [63]:
lottery23 = "https://www.irishlottery.com/archive-2023"
#Query the website and return the html to the variable 'page'
page23 = requests.get(lottery23)
page23

In [64]:
soup = BeautifulSoup(page23.content, 'lxml')
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_23 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_23 = [pt.get_text() for pt in ball_class_23]
type(ball_23)

list

In [65]:
df_ball_23 = pd.DataFrame(np.array(ball_23).reshape(-1,6),columns = list("ABCDEF"))
df_ball_23

      A   B   C   D   E   F
0    13  21  27  34  36  43
1    10  14  22  31  40  43
2     5  22  23  36  40  41
3     5  22  24  29  32  37
4     7   9  13  23  34  36
..   ..  ..  ..  ..  ..  ..
99    1   6  19  39  43  47
100   4  20  23  26  35  42
101   2  10  16  17  29  47
102   9  10  25  32  34  38
103  18  29  36  38  40  43

[104 rows x 6 columns]

In [66]:
# get the regular balls from the page
ball_bonus_class_23 = soup.find_all("li", class_="bonus-ball")
ball_bonus_23 = [pt.get_text() for pt in ball_bonus_class_23]
type(ball_bonus_23)

list

In [67]:
# get the bonus ball
df_ball_bonus_23 = pd.DataFrame(ball_bonus_23,columns = ['Bonus'])

In [68]:
# join the two dataframes
df_2023 = pd.concat([df_ball_23, df_ball_bonus_23], axis=1)
df_2023

      A   B   C   D   E   F Bonus
0    13  21  27  34  36  43    35
1    10  14  22  31  40  43    20
2     5  22  23  36  40  41    42
3     5  22  24  29  32  37    31
4     7   9  13  23  34  36    25
..   ..  ..  ..  ..  ..  ..   ...
99    1   6  19  39  43  47    32
100   4  20  23  26  35  42     7
101   2  10  16  17  29  47     7
102   9  10  25  32  34  38    23
103  18  29  36  38  40  43    30

[104 rows x 7 columns]

#### Get 2024 History

In [69]:
lottery24 = "https://www.irishlottery.com/archive-2024"
#Query the website and return the html to the variable 'page'
page24 = requests.get(lottery24)
page24

In [70]:
soup = BeautifulSoup(page24.content, 'lxml')
# Find the 6 lotto numbers available at the class = "Ball"
ball_class_24 = soup.find_all("li", class_="ball")
#get the text using list comprehension
ball_24 = [pt.get_text() for pt in ball_class_24]
type(ball_24)

list

In [71]:
df_ball_24 = pd.DataFrame(np.array(ball_24).reshape(-1,6),columns = list("ABCDEF"))
df_ball_24

     A   B   C   D   E   F
0   11  22  24  27  30  35
1    2  12  20  24  36  45
2   10  14  21  28  42  46
3    3   8  10  24  32  41
4    2   3  22  38  39  42
5   12  13  19  30  34  37
6    3   4  12  13  25  29
7    2  15  23  36  38  40
8    2   8  12  26  44  45
9   20  26  31  34  35  43
10   1   6   7  19  28  40

In [72]:
# get the regular balls from the page
ball_bonus_class_24 = soup.find_all("li", class_="bonus-ball")
ball_bonus_24 = [pt.get_text() for pt in ball_bonus_class_24]
type(ball_bonus_24)

list

In [73]:
# get the bonus ball
df_ball_bonus_24 = pd.DataFrame(ball_bonus_24,columns = ['Bonus'])

In [74]:
# join the two dataframes
df_2024 = pd.concat([df_ball_24, df_ball_bonus_24], axis=1)
df_2024

     A   B   C   D   E   F Bonus
0   11  22  24  27  30  35     3
1    2  12  20  24  36  45    23
2   10  14  21  28  42  46     2
3    3   8  10  24  32  41    30
4    2   3  22  38  39  42    43
5   12  13  19  30  34  37    11
6    3   4  12  13  25  29    17
7    2  15  23  36  38  40    46
8    2   8  12  26  44  45    24
9   20  26  31  34  35  43     5
10   1   6   7  19  28  40    14

In [75]:
frames = [df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023, df_2024]
df_combined = pd.concat(frames, keys=['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'])
df_combined

          A   B   C   D   E   F Bonus
2016 0    2   8  10  23  27  29     5
     1    1  12  34  43  45  47    27
     2    8  10  11  16  40  42    38
     3    6  10  23  28  37  41    18
     4    7  20  25  27  41  45    35
...      ..  ..  ..  ..  ..  ..   ...
2024 6    3   4  12  13  25  29    17
     7    2  15  23  36  38  40    46
     8    2   8  12  26  44  45    24
     9   20  26  31  34  35  43     5
     10   1   6   7  19  28  40    14

[846 rows x 7 columns]

## Export to csv

In [76]:
df_combined.to_csv('lotto_results.csv')

## Lotto dataframe 2016-2024

In [77]:
df_lotto_all = pd.read_csv('lotto_results.csv')
df_lotto_all = df_lotto_all.drop(["Unnamed: 1"], axis=1)
df_lotto_all

     Unnamed: 0   A   B   C   D   E   F  Bonus
0          2016   2   8  10  23  27  29      5
1          2016   1  12  34  43  45  47     27
2          2016   8  10  11  16  40  42     38
3          2016   6  10  23  28  37  41     18
4          2016   7  20  25  27  41  45     35
..          ...  ..  ..  ..  ..  ..  ..    ...
841        2024   3   4  12  13  25  29     17
842        2024   2  15  23  36  38  40     46
843        2024   2   8  12  26  44  45     24
844        2024  20  26  31  34  35  43      5
845        2024   1   6   7  19  28  40     14

[846 rows x 8 columns]

In [78]:
df_lotto_all = df_lotto_all.rename(columns={"Unnamed: 0": "Year", "Bonus":"G"})
df_lotto_all

     Year   A   B   C   D   E   F   G
0    2016   2   8  10  23  27  29   5
1    2016   1  12  34  43  45  47  27
2    2016   8  10  11  16  40  42  38
3    2016   6  10  23  28  37  41  18
4    2016   7  20  25  27  41  45  35
..    ...  ..  ..  ..  ..  ..  ..  ..
841  2024   3   4  12  13  25  29  17
842  2024   2  15  23  36  38  40  46
843  2024   2   8  12  26  44  45  24
844  2024  20  26  31  34  35  43   5
845  2024   1   6   7  19  28  40  14

[846 rows x 8 columns]

In [79]:
df_lotto_all.set_index('Year', inplace=True)
df_lotto_all

       A   B   C   D   E   F   G
Year
2016   2   8  10  23  27  29   5
2016   1  12  34  43  45  47  27
2016   8  10  11  16  40  42  38
2016   6  10  23  28  37  41  18
2016   7  20  25  27  41  45  35
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[846 rows x 7 columns]

### Most common balls 2016-2024

In [80]:
df_numbers_all = df_lotto_all
df_numbers_all

       A   B   C   D   E   F   G
Year
2016   2   8  10  23  27  29   5
2016   1  12  34  43  45  47  27
2016   8  10  11  16  40  42  38
2016   6  10  23  28  37  41  18
2016   7  20  25  27  41  45  35
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[846 rows x 7 columns]

In [81]:
# Convert numbers to a list
NumsToListAll = list(df_numbers_all.values.T.flatten())
most_common_all,num_most_common_all = Counter(NumsToListAll).most_common(1)[0]
print(most_common_all)
print(num_most_common_all)

27
155

In [82]:
# print the dictionary with sorted values
dictionary_numbers_all = Counter(NumsToListAll)
dictionary_numbers_all_sorted = sorted(dictionary_numbers_all, key=dictionary_numbers_all.get, reverse=True)
for r in dictionary_numbers_all_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_all[r]} times")
    #print(r)

27	:	 155 times
42	:	 146 times
29	:	 145 times
35	:	 139 times
2	:	 138 times
37	:	 138 times
45	:	 138 times
47	:	 138 times
38	:	 137 times
22	:	 135 times
31	:	 135 times
34	:	 135 times
40	:	 135 times
7	:	 133 times
20	:	 133 times
10	:	 133 times
16	:	 133 times
12	:	 131 times
18	:	 131 times
1	:	 130 times

### Most common balls in 2017-2024

In [83]:
df_numbers17_24 = df_lotto_all.loc[2017:2024]
df_numbers17_24

       A   B   C   D   E   F   G
Year
2017   2   8  14  18  39  44  16
2017  17  20  22  24  25  40  18
2017   5  14  28  29  32  38  31
2017  15  16  18  26  27  38  43
2017   1  21  33  37  38  40   8
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[741 rows x 7 columns]

In [84]:
NumsToList17_24 = list(df_numbers17_24.values.T.flatten())
most_common_17_24,num_most_common_17_24 = Counter(NumsToList17_24).most_common(1)[0]
print(most_common_17_24)
print(num_most_common_17_24)

27
129

In [85]:
# find the 6 most common numbers in the list in 2017-2024
most_common_17_24 = Counter(NumsToList17_24).most_common(6)
most_common_17_24

[(27, 129), (29, 128), (42, 126), (47, 125), (38, 124), (35, 123)]

In [86]:
# print the dictionary with sorted values
dictionary_numbers_17_24 = Counter(NumsToList17_24)
dictionary_numbers_17_24_sorted = sorted(dictionary_numbers_17_24, key=dictionary_numbers_17_24.get, reverse=True)
for r in dictionary_numbers_17_24_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_17_24[r]} times")
    #print(r)

27	:	 129 times
29	:	 128 times
42	:	 126 times
47	:	 125 times
38	:	 124 times
35	:	 123 times
31	:	 121 times
22	:	 121 times
12	:	 120 times
37	:	 120 times
45	:	 120 times
7	:	 119 times
20	:	 118 times
16	:	 117 times
34	:	 117 times
40	:	 117 times
2	:	 116 times
21	:	 115 times
1	:	 114 times
18	:	 113 times

### Most common balls in 2018-2024

In [87]:
df_numbers18_24 = df_lotto_all.loc[2018:2024]
df_numbers18_24

       A   B   C   D   E   F   G
Year
2018   7  13  18  26  27  28   9
2018   1   2  30  41  42  43  25
2018   5  20  21  24  34  45  22
2018   1   5  19  24  27  42  44
2018   2   9  23  34  35  38  41
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[637 rows x 7 columns]

In [88]:
NumsToList18_24 = list(df_numbers18_24.values.T.flatten())
most_common_18_24,num_most_common_18_24 = Counter(NumsToList18_24).most_common(1)[0]
print(most_common_18_24)
print(num_most_common_18_24)

27
115

In [89]:
# find the 6 most common numbers in the list in 2017-2024
most_common_18_24 = Counter(NumsToList18_24).most_common(6)
most_common_18_24

[(27, 115), (35, 111), (29, 110), (12, 107), (42, 107), (37, 106)]

In [90]:
# print the dictionary with sorted values
dictionary_numbers_18_24 = Counter(NumsToList18_24)
dictionary_numbers_18_24_sorted = sorted(dictionary_numbers_18_24, key=dictionary_numbers_18_24.get, reverse=True)
for r in dictionary_numbers_18_24_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_18_24[r]} times")
    #print(r)

27	:	 115 times
35	:	 111 times
29	:	 110 times
12	:	 107 times
42	:	 107 times
37	:	 106 times
22	:	 105 times
45	:	 105 times
3	:	 103 times
20	:	 103 times
38	:	 103 times
47	:	 103 times
21	:	 102 times
40	:	 102 times
30	:	 101 times
34	:	 100 times
2	:	 99 times
14	:	 99 times
1	:	 98 times
31	:	 98 times

### Most common balls in 2019-2024

In [91]:
df_numbers19_24 = df_lotto_all.loc[2019:2024]
df_numbers19_24

       A   B   C   D   E   F   G
Year
2019   2  14  18  23  34  39  25
2019  12  23  30  36  37  38   3
2019   6  19  22  28  35  40  32
2019   8   9  14  18  23  38  16
2019  11  17  24  29  30  47  38
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[533 rows x 7 columns]

In [92]:
NumsToList19_24 = list(df_numbers19_24.values.T.flatten())
most_common_19_24,num_most_common_19_24 = Counter(NumsToList19_24).most_common(1)[0]
print(most_common_19_24)
print(num_most_common_19_24)

27
95

In [93]:
# find the 6 most common numbers in the list in 2017-2024
most_common_19_24 = Counter(NumsToList19_24).most_common(6)
most_common_19_24

[(27, 95), (35, 95), (3, 92), (12, 91), (29, 89), (37, 89)]

In [94]:
# print the dictionary with sorted values
dictionary_numbers_19_24 = Counter(NumsToList19_24)
dictionary_numbers_19_24_sorted = sorted(dictionary_numbers_19_24, key=dictionary_numbers_19_24.get, reverse=True)
for r in dictionary_numbers_19_24_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_19_24[r]} times")
    #print(r)

27	:	 95 times
35	:	 95 times
3	:	 92 times
12	:	 91 times
29	:	 89 times
37	:	 89 times
40	:	 88 times
34	:	 87 times
42	:	 87 times
45	:	 87 times
47	:	 87 times
21	:	 86 times
38	:	 86 times
14	:	 85 times
23	:	 85 times
1	:	 84 times
10	:	 84 times
2	:	 83 times
22	:	 83 times
46	:	 83 times

### Most Common Balls 2020-2014

In [95]:
df_numbers20_24 = df_lotto_all.loc[2020:2024]
df_numbers20_24

       A   B   C   D   E   F   G
Year
2020   8  13  21  23  40  44  28
2020  22  23  24  28  32  41  44
2020  22  30  33  39  40  45  38
2020   9  14  16  28  33  38  22
2020  15  19  24  32  38  40  23
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[429 rows x 7 columns]

In [96]:
NumsToList20_24 = list(df_numbers20_24.values.T.flatten())
most_common_20_24,num_most_common_20_24 = Counter(NumsToList20_24).most_common(1)[0]
print(most_common_20_24)
print(num_most_common_20_24)

45
76

In [97]:
# find the 6 most common numbers in the list in 2017-2024
most_common_20_24 = Counter(NumsToList20_24).most_common(6)
most_common_20_24

[(45, 76), (27, 74), (40, 74), (20, 73), (12, 73), (35, 73)]

In [98]:
# print the dictionary with sorted values
dictionary_numbers_20_24 = Counter(NumsToList20_24)
dictionary_numbers_20_24_sorted = sorted(dictionary_numbers_20_24, key=dictionary_numbers_20_24.get, reverse=True)
for r in dictionary_numbers_20_24_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_20_24[r]} times")
    #print(r)

45	:	 76 times
27	:	 74 times
40	:	 74 times
20	:	 73 times
12	:	 73 times
35	:	 73 times
47	:	 73 times
5	:	 71 times
21	:	 71 times
38	:	 71 times
3	:	 70 times
29	:	 70 times
2	:	 69 times
22	:	 68 times
23	:	 67 times
37	:	 67 times
42	:	 67 times
1	:	 66 times
14	:	 66 times
10	:	 66 times

### Most Common Balls 2021-2024

In [99]:
df_numbers21_24 = df_lotto_all.loc[2021:2024]
df_numbers21_24

       A   B   C   D   E   F   G
Year
2021  22  25  28  32  35  47  15
2021  11  17  19  23  26  43  31
2021   2   5  13  22  36  43   3
2021   5   8  12  13  25  26   9
2021   4  10  21  27  41  42  18
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[324 rows x 7 columns]

In [100]:
NumsToList21_24 = list(df_numbers21_24.values.T.flatten())
most_common_21_24,num_most_common_21_24 = Counter(NumsToList21_24).most_common(1)[0]
print(most_common_21_24)
print(num_most_common_21_24)

35
62

In [101]:
# find the 6 most common numbers in the list in 2017-2024
most_common_21_24 = Counter(NumsToList21_24).most_common(6)
most_common_21_24

[(35, 62), (21, 60), (45, 58), (12, 56), (27, 56), (40, 56)]

In [102]:
# print the dictionary with sorted values
dictionary_numbers_21_24 = Counter(NumsToList21_24)
dictionary_numbers_21_24_sorted = sorted(dictionary_numbers_21_24, key=dictionary_numbers_21_24.get, reverse=True)
for r in dictionary_numbers_21_24_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_21_24[r]} times")
    #print(r)

35	:	 62 times
21	:	 60 times
45	:	 58 times
12	:	 56 times
27	:	 56 times
40	:	 56 times
2	:	 55 times
1	:	 53 times
29	:	 53 times
43	:	 53 times
47	:	 53 times
38	:	 52 times
26	:	 52 times
46	:	 52 times
20	:	 51 times
37	:	 51 times
22	:	 50 times
25	:	 50 times
34	:	 50 times
42	:	 50 times

### Most Common Balls 2022-2024

In [103]:
df_numbers22_24 = df_lotto_all.loc[2022:2024]
df_numbers22_24

       A   B   C   D   E   F   G
Year
2022   9  10  18  33  44  47  38
2022   1  18  20  27  36  45  10
2022   4  18  21  30  41  45  44
2022  17  20  21  23  31  45  24
2022  23  24  37  42  45  46  20
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[220 rows x 7 columns]

In [104]:
NumsToList22_24 = list(df_numbers22_24.values.T.flatten())
most_common_22_24,num_most_common_22_24 = Counter(NumsToList22_24).most_common(1)[0]
print(most_common_22_24)
print(num_most_common_22_24)

35
50

In [105]:
# find the 6 most common numbers in the list in 2017-2024
most_common_22_24 = Counter(NumsToList22_24).most_common(6)
most_common_22_24

[(35, 50), (2, 43), (21, 43), (20, 41), (29, 39), (3, 38)]

In [106]:
# print the dictionary with sorted values
dictionary_numbers_22_24 = Counter(NumsToList22_24)
dictionary_numbers_22_24_sorted = sorted(dictionary_numbers_22_24, key=dictionary_numbers_22_24.get, reverse=True)
for r in dictionary_numbers_22_24_sorted[:20]:
    #print(f"{r}\t:\t {dictionary_numbers_22_24[r]} times")
    print(r)

35
2
21
20
29
3
40
27
45
12
26
37
42
11
38
36
46
6
25
41

### Most common balls 2023 & 2024

In [107]:
df_numbers23_24 = df_lotto_all.loc[2023:2024]
df_numbers23_24

       A   B   C   D   E   F   G
Year
2023  13  21  27  34  36  43  35
2023  10  14  22  31  40  43  20
2023   5  22  23  36  40  41  42
2023   5  22  24  29  32  37  31
2023   7   9  13  23  34  36  25
...   ..  ..  ..  ..  ..  ..  ..
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

[115 rows x 7 columns]

In [108]:
# Convert numbers to a list
NumsToList23_24 = list(df_numbers23_24.values.T.flatten())
most_common23_24,num_most_common23_24 = Counter(NumsToList23_24).most_common(1)[0]
print(most_common23_24)
print(num_most_common23_24)

3
26

In [109]:
# print the dictionary with sorted values
dictionary_numbers23_24 = Counter(NumsToList23_24)
dictionary_numbers23_24_sorted = sorted(dictionary_numbers23_24, key=dictionary_numbers23_24.get, reverse=True)
for r in dictionary_numbers23_24_sorted[:30]:
    #print(f"{r}\t:\t {dictionary_numbers23_24[r]} times")
    print(r)

3
21
2
6
13
12
7
25
34
35
37
42
20
26
29
11
39
22
24
43
40
10
1
8
32
38
14
27
30
31

### Most common balls 2023

In [110]:
df_numbers_23 = df_lotto_all.loc[2023]
df_numbers_23

       A   B   C   D   E   F   G
Year
2023  13  21  27  34  36  43  35
2023  10  14  22  31  40  43  20
2023   5  22  23  36  40  41  42
2023   5  22  24  29  32  37  31
2023   7   9  13  23  34  36  25
...   ..  ..  ..  ..  ..  ..  ..
2023   1   6  19  39  43  47  32
2023   4  20  23  26  35  42   7
2023   2  10  16  17  29  47   7
2023   9  10  25  32  34  38  23
2023  18  29  36  38  40  43  30

[104 rows x 7 columns]

In [111]:
# Convert numbers to a list
NumsToList2023 = list(df_numbers_23.values.T.flatten())
most_common_23,num_most_common_23 = Counter(NumsToList2023).most_common(1)[0]
print(most_common_23)
print(num_most_common_23)

21
23

In [112]:
# print the dictionary with sorted values
dictionary_numbers_23 = Counter(NumsToList2023)
dictionary_numbers_23_sorted = sorted(dictionary_numbers_23, key=dictionary_numbers_23.get, reverse=True)
for r in dictionary_numbers_23_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_23[r]} times")

21	:	 23 times
3	:	 22 times
6	:	 22 times
13	:	 20 times
7	:	 20 times
25	:	 20 times
37	:	 20 times
34	:	 19 times
29	:	 19 times
35	:	 19 times
42	:	 19 times
2	:	 18 times
20	:	 18 times
12	:	 18 times
26	:	 18 times
39	:	 18 times
11	:	 17 times
1	:	 16 times
22	:	 16 times
32	:	 16 times

### Most common balls 2024

In [113]:
df_numbers_24 = df_lotto_all.loc[2024]
df_numbers_24

       A   B   C   D   E   F   G
Year
2024  11  22  24  27  30  35   3
2024   2  12  20  24  36  45  23
2024  10  14  21  28  42  46   2
2024   3   8  10  24  32  41  30
2024   2   3  22  38  39  42  43
2024  12  13  19  30  34  37  11
2024   3   4  12  13  25  29  17
2024   2  15  23  36  38  40  46
2024   2   8  12  26  44  45  24
2024  20  26  31  34  35  43   5
2024   1   6   7  19  28  40  14

In [114]:
# Convert numbers to a list
NumsToList2024 = list(df_numbers_24.values.T.flatten())
most_common_24,num_most_common_24 = Counter(NumsToList2024).most_common(1)[0]
print(most_common_24)
print(num_most_common_24)

2
5

In [115]:
# print the dictionary with sorted values
dictionary_numbers_24 = Counter(NumsToList2024)
dictionary_numbers_24_sorted = sorted(dictionary_numbers_24, key=dictionary_numbers_24.get, reverse=True)
for r in dictionary_numbers_24_sorted[:20]:
    print(f"{r}\t:\t {dictionary_numbers_24[r]} times")
    #print(r)

2	:	 5 times
3	:	 4 times
12	:	 4 times
24	:	 4 times
30	:	 3 times
11	:	 2 times
10	:	 2 times
20	:	 2 times
22	:	 2 times
14	:	 2 times
8	:	 2 times
13	:	 2 times
26	:	 2 times
19	:	 2 times
23	:	 2 times
28	:	 2 times
38	:	 2 times
36	:	 2 times
34	:	 2 times
42	:	 2 times